<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome, <%= user.displayName %>. <a href="/logout">Logout</a></p>
  </body>
</html>