<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Frontier Status</h1>
    <% if (!user) { %>
      <h2>Welcome! Please <a href="/login">log in</a>.</h2>
    <% } else { %>
      <h2>Hello, <a href="<%= myoutput.html_url %>"><%= user.profile.displayName %></a>. <a href="/logout">Log out</a>.</h2>
      <% if (myoutput) { %>
        <p><%= myoutput %></p>
      <% } %>
    <% } %>
    <script src="/build.js"></script>
  </body>
</html>